.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header {
    background: rgba(0,0,0,0);
    padding: 8px 0px;
}

.header_lead_container {
    display: inline-flex;
    align-items: center;
}

.logo_wrapper {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: inline-block;
}